header {
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.6); /* Neutral background color with 90% opacity */
  margin-bottom: 20px;
  box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  grid-gap: 20px;
}

li {
  list-style: none;
}
